body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  position:absolute;
  left:75px;
  top:33px;
  width:375px;
  height:667px;
}
#u681 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682 {
  position:absolute;
  left:98px;
  top:54px;
  width:331px;
  height:623px;
  overflow:hidden;
  touch-action:none;
}
#u682_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:623px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u682_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:1629px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:1629px;
  line-height:28px;
}
#u685 {
  position:absolute;
  left:4px;
  top:0px;
  width:322px;
  word-wrap:break-word;
}
