body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:225px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  position:absolute;
  left:147px;
  top:61px;
  width:78px;
  height:36px;
}
#u686_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686.selected {
}
#u687 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u688 {
  position:absolute;
  left:147px;
  top:61px;
  width:36px;
  height:36px;
}
#u689 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  position:absolute;
  left:147px;
  top:120px;
  width:78px;
  height:36px;
}
#u690_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690.selected {
}
#u691 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u692 {
  position:absolute;
  left:189px;
  top:120px;
  width:36px;
  height:36px;
}
#u693 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  position:absolute;
  left:147px;
  top:180px;
  width:64px;
  height:36px;
}
#u694_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694.selected {
}
#u695 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u696 {
  position:absolute;
  left:147px;
  top:180px;
  width:36px;
  height:36px;
}
#u696_img.selected {
}
#u696.selected {
}
#u697 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  position:absolute;
  left:147px;
  top:226px;
  width:64px;
  height:36px;
}
#u698_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698.selected {
}
#u699 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u700 {
  position:absolute;
  left:175px;
  top:226px;
  width:36px;
  height:36px;
}
#u700_img.selected {
}
#u700.selected {
}
#u701 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
